@import "tailwindcss";

:root {
  /* Paleta de colores personalizada */
  --navy: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --gold: #FCBF49;
  --cream: #EAE2B7;

  /* Colores de fondo y texto */
  --background: var(--navy);
  --foreground: var(--cream);
}

@theme inline {
  /* Colores personalizados */
  --color-navy: var(--navy);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-gold: var(--gold);
  --color-cream: var(--cream);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
